
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Boldonse&display=swap');

#root{
  background-color: #1F1F1F;
}
html {
  scroll-behavior: smooth;
}
.header{
  background-color: #A849FF;
  height: 13vh;
  margin-top: 0;
  text-align: center;
  color: aliceblue;
  font-size: 50px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.response-container{
  background-color: #2D2D2D;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh; /* centers vertically */
  margin: auto;
  margin-top: 8cqi;
  margin-bottom: 8cqi;
  width: 70%;
  background-color:#55555541;
  border-radius: 12px;
  padding: 30px;
  border: 1px solid ;
  border-color: #4e4c4ca7;
}